.borderRadius {
    border-radius: 2rem;
}
.containerShadow {
    -webkit-box-shadow: 7px 5px 14px 5px rgba(99,98,99,1);
    -moz-box-shadow: 7px 5px 14px 5px rgba(99,98,99,1);
    box-shadow: 7px 5px 14px 5px rgba(99,98,99,1);
}
.numberSize {
    font-size: 15vmax;
} 
.bgSize {
    height: 90%;
}

@media (max-width: 770px) {
    .container-size {
        max-width: 55rem;
        max-height: 10rem;
    }
    .numberSize {
        font-size: 13vmax;
    } 
    .bgSize {
        max-height: 90%;
    }
    
}

@media (max-width: 550px) {
    .container-size {
        max-width: 40rem;
        max-height: 11rem;
    }
    .numberSize {
        font-size: 13vmax;
    }    
}

@media (max-width: 470px) {
    .container-size {
        max-width: 30rem;
        max-height: 10rem;
    }
    .numberSize {
        font-size: 11vmax;
    } 
}

@media (max-width: 410px) {
    .container-size {
        max-width: 20rem;
        max-height: 7rem;
    }
    .numberSize {
        font-size: 8vmax;
    } 

    .mqSize {
        font-size: 8vmax;
    }
}